.choiceBtn{
    line-height: 100px;
    width: 150px;
}
#gameDiv{
    font-family: Georgia, serif ;
    border: 3px solid;
    border-radius: 25px;
    padding: 10px;
    background-color: lightgrey;
    text-align: center;
}
#playerText{
    color: #040471;
}
#computerText{
    color: #940000;
}
body {
  background: linear-gradient(-45deg, #620cca, #01268e, #660020, #1D2671);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}